@font-face {
    font-family: 'cybero';
    src: url('../assets/fonts/cybero.ttf');
}
:root{
  --color-primary-background:#170051;
  --color-secondary-background:#76CEEE;
  --color-tertiary-background:#D851E7;

  --color-primary-text:#FCFCFD;
  --color-secondary-text:#1D1D1D;
  --bg-main:#131313;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: autoX;
    scrollbar-color: #76ceee rgb(70, 69, 70);
}
body{
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    background-color: var(--bg-main);
    

}
.container{
    height: 100vh;

    position: relative;
    width: 100%;
    overflow: hidden;
    background: url('../assets/img-parallax/bg.jpg');
    background-attachment: scroll;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s linear, visibility 1s linear;
}
.layer{
position: absolute;
}
.layer img{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.layer:nth-child(2){
    margin-left: 60rem;
}

.space{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('../assets/svg/layertop2.svg');
    
}
.cards{
    width: 100vw;
}
.cards{
    z-index: 5;
    position: absolute;

    top: 100%;
    left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 20rem;
}
.card-info{
    text-align: center;
    color: whitesmoke;
    width: 100%;
    height: 6rem;
    background-color: var(--color-secondary-text);

    display: flex;
    align-items: center;
}
.left{
    flex-direction: row;
    justify-content: start;
}
.right{
    flex-direction: row-reverse;
    justify-content: end;
}
.card{
    color: var(--color-primary-text);
    border-radius: 5px;
    text-align: center;
    width: 50%;
    height: 30rem;
    display: flex;
    position: relative;
    margin-bottom: 7rem;
    margin-top: 2rem;

}

.card .card__bg, .card-text{
    width: 50%;
}

.card h1{
    font-family: 'cybero';
    font-size: 3.5rem;
}
.card p{
    font-size: 0.5rem;
}
.card-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 150;
}
.card-text h2{
    font-size: 4rem;
    font-family: 'cybero';
}
.card .card-link-info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card-link-info img{
   height: 3rem;
    object-fit: cover;
}
.card-link-info a img{
    transition: 0.5s ease;
}
.card-link-info a:hover img{
    transform : scale(1.2);
 }
 .card-link-info{
    padding-top: 2rem;
 }
.card-link-info p{
    font-size: 1.5rem;
    font-family: 'cybero';
    color: var(--color-primary-text);

}
.card__bg{
    display: flex;
}

.card__bg img{
   width: 85%;
   object-fit: cover;
   object-position: top ;
}
.right-background::after{

    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    
    background-image: linear-gradient(to right, rgba(19,19,19,1) 20%,
                                                 rgba(19,19,19,.75) 40%,
                                                rgba(19,19,19,.5) 60%,
                                                rgba(19,19,19,.1) 80%,
                                                rgba(19,19,19,0) 100% );
    right: 0;
}
.right-background{
    justify-content: flex-end;
}
.left-background::after{

    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    
    background-image: linear-gradient(to left, rgba(19,19,19,1) 20%,
                                                 rgba(19,19,19,.75) 40%,
                                                rgba(19,19,19,.5) 60%,
                                                rgba(19,19,19,.1) 80%,
                                                rgba(19,19,19,0) 100% );
    left: 0;
}
.left-background{
    justify-content: flex-start;
}
.planet-mercury img{
    width: 85%;
    object-fit: cover;
    object-position: top;
}
.planet-earth img{
    width: 85%;
    object-fit: cover;
    object-position: center;
}
.planet-mars img{
    width: 85%;
    object-fit: cover;
    object-position: center;
}
.planet-saturn img{
    width: 85%;
    object-fit: cover;
    object-position: bottom;
}
.planet-uranus img{
    width: 85%;
    object-fit: cover;
    object-position: center;
}
.planet-neptune img{
    width: 85%;
    object-fit: cover;
    object-position: center;
}
.card-info h2{
    letter-spacing: 5px;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    color: var(--color-secondary-background);
    font-family: 'cybero';
    font-size: 4rem;
    line-height: 2rem;
    text-shadow: 0 0 3.5rem var(--color-secondary-background);   
}
.card-info-subtitle h3{
    
    text-align: center;
    color: var(--color-tertiary-background);
    font-size: 1.5rem;
    font-family: 'cybero';
    letter-spacing: 2px;
}
.card-info-subtitle p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.card-info-subtitle{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    border:0.05rem solid rgba(173, 173, 173,0.2);
    border-top:0px solid transparent;
    border-bottom:0px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-info-detail{
    display: flex;
}
canvas{
    height: 85%;
    width: 100%;
}
/* EFFECT 360 */
input{
    width: 90%;
}

/* footer */
footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--color-secondary-text);
    color: var(--color-primary-text) !important;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.svg{
    aspect-ratio: 960/340;
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../assets/svg/layerend3.svg');
}
#floater{
    background-color: var(--color-secondary-background);
    position: fixed;
    bottom:  2rem;
    right: 2rem;
    text-align: center;
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    z-index: 20;
    /* background-color: white; */
}
#floater a{
    
    color: white;
}
#floater a i{
    padding: 0.7rem;
    font-size: 1.8rem;
}
@media only screen and (max-width:1500px) {
    canvas{
        height: 60%;
        width: 100%;
    }
    .cards{
        padding-top: 14rem;
    }
    .last-card{
        margin-bottom: 0rem;
    }
}
@media only screen and (max-width:1400px) {
    .card-info{
        height: 5rem;
    }
    .card-info h2{
        letter-spacing: 6px;
        font-size: 3rem;
        line-height: 2rem;
    }
    .card-info-subtitle h3{
    
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
    .card-info-subtitle p{
        font-size: .9rem;
    }
    .card-info-subtitle{
        height: 5rem;
    }
}
@media only screen and (max-width:1200px) {
    .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    .card-info h2{
        height: 5rem;
        line-height: 5rem;
    }
    .card-info-subtitle{
        border:0.05rem solid rgba(173, 173, 173,0.2);        
        border-bottom:0px solid transparent;
        justify-content: space-evenly;
        
    }
    .card{
        width: 80%;
    }   
    #floater a i{
        padding: 0.6rem;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:1000px){
    .layer{
        margin-top: 5rem;
    }
}
@media only screen and (max-width:768px){
    .card-info-subtitle{
        padding: 1rem;
        justify-content: space-between;
    }
    .cards{
        padding-top: 8rem;
    }
    .card{
        width: 100%;
    }
    
}
@media only screen and (max-width:600px){
    .card-info-detail{
      flex-direction: column;   
    }
    .card-info{
        height: 100%;
    }
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30rem;
        margin: 0;
    }
    .card__bg{
        display: none;
    }
    canvas{
        height: 20rem;
        width: 25rem;
    }
    li:nth-child(1){
        opacity: 0;
    }
    li:nth-child(2){
        opacity: 0;
    }
    li:nth-child(4){
        opacity: 0;
    }
    li:nth-child(5){
        opacity: 0;
    }
    li:nth-child(6){
        opacity: 0;
    }

}


.loading {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/background-loading.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s linear, visibility 0.5s linear;

}

.loading img{
    animation: spin 8s alternate infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading p {
    font-size: 4rem;
    color: #fffefe;
    font-family: 'cybero';
    animation: letter 1s normal infinite;
}

@keyframes letter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.no-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}