*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;

}
.container{
    /* height: 100vh; */
    height: 100vh;
    /* width: 100%; */
    position: relative;
    width: 100vw;
    overflow: hidden;
    background: url('../assets/img-parallax/bg.png');
    background-attachment: scroll;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.layer{
position: absolute;
}
img{
    width: 90%;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.layer:nth-child(2){
    /* background-color: aqua; */
    /* display: flex; */
    margin-left: 65rem;
}
.cards{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, #170051, #150943, #140e33, #151124, #131313);   
}
.space{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('../assets/svg/layertop2.svg');
}